.orderTotal {
  width:30px;
  height: 25px;
  border: 1px solid black;
  margin-top: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
}
#placeOrder {
  margin-top: 15px;
}
.orderBox {
  width: 40px;
}
